<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="card">
      <ion-icon name="card"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="summary"
      ><ion-icon name="stats-chart-outline"></ion-icon
    ></ion-tab-button>
    <ion-tab-button tab="transactions">
      <ion-icon name="pie-chart"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
